<h1>Products#index</h1>
<ul>
<%= @products.each do |product| %>
	<li>
		<ul>
			<li><%= product.name %></li>
			<li><%= product.description %></li>
			<li><%= product.formatted_price %></li>
		</ul>
	</li>
<% end %>
</ul>


<%= link_to "New Product", new_product_path %> |
<%= link_to "Edit Product" %> |
<%= link_to "New User", new_user_path %>
